name = "dns-srv-to-redirection"
main = "worker.js"
compatibility_date = "2026-05-26"
workers_dev = false

[vars]
DOMAINS = "*.s.example.com"
PORTAL_DOMAIN = "s.example.com"
PORTAL_PASSWD = "change-me"
DEFAULT_REDIRECT_STATUS = "307"
CACHE_TTL_SECONDS = "300"
SRV_MAX_AGE_SECONDS = "0"
NATMAP_REFRESH_QUEUE_NAME = "_natmap-refresh.s.example.com"
DEBUG_MODE = "false"
