name = "dns-srv-to-redirection"
main = "worker.js"
compatibility_date = "2026-05-26"
workers_dev = false

[vars]
DOMAINS = "*.s.example.com"
PORTAL_DOMAIN = "s.example.com"
DEFAULT_REDIRECT_STATUS = "307"
CACHE_TTL_SECONDS = "300"
SRV_MAX_AGE_SECONDS = "0"
NATMAP_REFRESH_QUEUE_NAME = "_natmap-refresh.s.example.com"
TAILWIND_CDN_URL = "https://cdn.bootcdn.net/ajax/libs/tailwindcss-browser/4.1.13/index.global.min.js"
DEBUG_MODE = "false"
